 <!--Seção Novidades-->
 <section class="bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="texto align-self-center">
                    <h1 class="titulo display-4 text-white p-5">
                        Venha conhecer nossas Novidades!
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque beatae facilis modi rerum accusamus placeat doloremque quam, 
                        minus illo odit delectus saepe voluptatem repellat nulla eligendi laboriosam impedit voluptas nostrum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque beatae facilis modi rerum accusamus placeat doloremque quam, 
                        minus illo odit delectus saepe voluptatem repellat nulla eligendi laboriosam impedit voluptas nostrum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque beatae facilis modi rerum accusamus placeat doloremque quam, 
                        minus illo odit delectus saepe voluptatem repellat nulla eligendi laboriosam impedit voluptas nostrum.
                    </p>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img class="img-novidades p-5" src="/assets/imagens/controlevideogame.png" alt="">
            </div>
        </div>
    </div>
  </section>
