<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/assets/imagens/senailogo.png" alt="logo senai">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Jogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hardware.html">Hardware</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Celulares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PC Gamer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contatos</a>
                    </li>
                    
                    
                </ul>
                    <a class="nav-link" href="cadastrar.html">Cadastre-se</a>
                    <button class="btn btn-outline-primary me-5" type="submit">Login</button>
               
            </div>
        </div>
    </nav>
</header>
<app-banner></app-banner>


<!--footer-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center align-self-center ">
              <a href="">
                  <img class="logo" src="/assets/imagens/senailogo.png" alt="logo senai">
              </a>
             
            </div>

            <div class="col-md-4 align-self-center ">
                <div>
                    <p class="fw-bold">Email:</p>
                    <p>exemplo@exemplo.com.br</p>
                   
                </div>
                <div>
                  <p class="fw-bold">Endereço:</p>
                  <p>avenida abc, 1234</p>
                 
              </div>
              <div>
                  <p class="fw-bold">Telefone:</p>
                  <p>(99)9999-9999</p>
                 
              </div>
            
           </div>
          
           <div class="col-md-4 pt-4 text-start">
              <div class="container-fluid">
                  <a href=""><i class="fab fa-facebook fa-5x facebook pe-2"></i></a>
                  <a href=""><img class="logo-insta align-top px-2" src="/assets/imagens/instagram.png" alt=""></a>
                  <a href=""><i class="fab fa-whatsapp fa-5x whatsapp px-2"></i></a>
                  <a href=""><i class="fab fa-youtube fa-5x youtube px-2"></i></a>

              </div>
              <div class="container-fluid menu">
                  <ul class="navbar-nav pt-2 text-sm-start">
                      <li class="nav-item"><a class="nav-link" href="#">Jogos</a></li>
                      <li class="nav-item"><a class="nav-link" href="hardware.html">Hardware</a></li>
                      <li class="nav-item" ><a class="nav-link" href="celulares.html">Celulares</a></li>
                      <li class="nav-item"><a class="nav-link" href="pcgamer.html">PC Gamer</a></li>
                      <li class="nav-item"><a class="nav-link" href="contatos.html">Contatos</a></li>
                  </ul>

              </div>
          </div>
         

        </div>

    </div>
</footer>