.img-destaque{
    width: 230px;
}
.galeria{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 230px;
   margin-left: 10px;
   margin-right: 10px;

}
.galeria p {
    margin-left: 100px;


}