 <!--Seção Destaque-->
 <section class="bg-light pb-5">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4 mt-5">
                Que tal conhecer nossas obras em Destaque
           </h1>
           <p class="m-5">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid consectetur ad vel eos, 
               officiis pariatur iure optio quae nulla dolorum voluptas in qui sapiente consequuntur laborum, et officia cupiditate nemo.
               Lorem ipsum dolor sit amet consectetur 
           </p>
        </div>

    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
          <div class="galeria">
              <a href="/assets/imagens/Controle.jpg">
                  <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
              </a>
              <p>Jogo</p>
              <p>Ano</p>
          </div>
          <div class="galeria">
              <a href="/assets/imagens/Controle.jpg">
                  <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
              </a>
              <p>Jogo</p>
              <p>Ano</p>
          </div>
          <div class="galeria">
              <a href="/assets/imagens/Controle.jpg">
                  <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
              </a>
              <p>Jogo</p>
              <p>Ano</p>
          </div>
          <div class="galeria">
              <a href="/assets/imagens/Controle.jpg">
                  <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
              </a>
              <p>Jogo</p>
              <p>Ano</p>
          </div>
          <div class="galeria">
              <a href="/assets/imagens/Controle.jpg">
                  <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
              </a>
              <p>Jogo</p>
              <p>Ano</p>
          </div>
      </div>
    </div>
</section>

<app-novidades></app-novidades>
